@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  li::marker {
    @apply text-gray-800;
  }
}

@layer base {
  h1 {
    @apply text-[24pt];
    @apply font-serif;
    @apply font-semibold;
  }
  h2 {
    @apply text-[18pt];
    @apply font-serif;
    @apply font-semibold;
  }
  h3 {
    @apply text-[14pt];
    @apply font-serif;
    @apply font-semibold;
    @apply leading-5;
  }
  .prose ul,
  .prose ol {
    @apply pl-5;
  }
  .prose li::marker {
    @apply text-gray-800;
  }
  .prose li {
    @apply pl-0;
    @apply ml-0;
  }
  .organisation .section label {
    @apply font-semibold;
    @apply mb-[0.025em];
  }
  .organisation .oneline label {
    @apply mr-2;
  }
  .organisation .section {
    @apply my-3;
    @apply flex-col;
    @apply flex;
  }
  .organisation .section.oneline {
    @apply flex-row;
  }
  .organisation .section ul {
    @apply flex;
    @apply flex-wrap;
  }
  .organisation .section ul.list {
    @apply flex;
    @apply flex-col;
    @apply flex-wrap;
  }
  .organisation .section:not(.html) li {
    @apply px-[10px];
    @apply py-[1px];
    @apply bg-dfak-blue;
    @apply text-sm;
    @apply m-[2px];
  }
  .topic .prose blockquote {
    @apply border-0;
    @apply font-serif;
    @apply not-italic;
  }

  .topic .prose p,
  .topic .prose li,
  .topic .prose ul,
  .topic .prose ul {
    @apply my-1;
    @apply leading-7;
  }
  .topic .prose blockquote p {
    @apply my-4;
  }
  .topic .prose > p {
    @apply text-2xl;
    @apply pb-10;
    @apply font-semibold;
    @apply text-center;
  }
  .topic .prose .step-options {
    @apply mt-12;
  }
  .topic .prose .step-options a {
    @apply text-center;
    @apply block;
    @apply border-[1px];
    @apply border-dfak-dark-blue;
    @apply text-dfak-dark-blue;
    @apply font-semibold;
    @apply hover:bg-dfak-dark-blue;
    @apply hover:text-white;
    @apply py-1;
  }
  .topic .prose .final_tips ul li {
    @apply list-disc;
  }
  .resources li a {
    @apply underline;
  }
}
